@model ElmahConfig

<div id="elmah">
    <h2>Edit Elmah Information</h2>
    
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    
        @Html.HttpMethodOverride(HttpVerbs.Put)
        @Html.HiddenFor(model => model.Id)

        @Html.Partial("_CreateOrEdit", Model)
         
        <button type="submit">Submit</button>
        
        @Html.ActionLink("Cancel", "Index", "Elmah", new { id = ViewBag.SiteId }, null)
    }
</div>