<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/style/normalize.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/style/site.css")" rel="stylesheet" />
    
    <script src="@Url.Content("~/Content/Scripts/lib/modernizr-2.0.6-development-only.js")"></script>
</head>
<body>
    <div id="page">
        <header>
            <div id="title">
                <h1>helicopter</h1>
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>

    <script src="@Url.Content("~/Content/Scripts/lib/jquery-1.7.min.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/lib/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/lib/MicrosoftAjax.debug.js")"></script>  
    <script src="@Url.Content("~/Content/Scripts/lib/MicrosoftMvcAjax.debug.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/lib/underscore.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/lib/backbone.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
